<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xyz.hyffer.onemessage_server.storage.mapper.ContactMapper">
    <resultMap id="contactMap" type="Contact">
        <id column="_CID" property="_CID"/>
        <collection property="contactInfos"
                    select="xyz.hyffer.onemessage_server.storage.mapper.ContactMapper.findContactInfoByCID" column="_CID"/>
    </resultMap>

    <select id="getContacts" resultMap="contactMap">
        select * from contact order by lastMsgTime desc
        <if test="limit != 0">
            limit #{limit}
        </if>
    </select>

    <select id="searchContacts" resultMap="contactMap">
        <bind name="search_pattern" value="'%' + key + '%'"/>
        select * from contact where remark like #{search_pattern}
        <if test="limit != 0">
            limit #{limit}
        </if>
    </select>

    <select id="findContactByCID" resultMap="contactMap">
        select * from contact where _CID=#{_CID}
    </select>

    <select id="findContactById" resultMap="contactMap">
        select contact.* from contact, contact_info
        where contact._CID=contact_info._CID and contact_info._SID=#{_SID} and contact_info.id=#{id}
    </select>

    <select id="findContactInfoByCID" resultType="ContactInfo">
        select * from contact_info where _CID=#{_CID}
    </select>

    <insert id="addContact" parameterType="Contact"
            useGeneratedKeys="true" keyProperty="_CID">
        insert into contact (type, remark) value
            (#{type}, #{remark})
    </insert>

    <insert id="addContactInfo">
        insert into contact_info (_CID, _SID, id, name) value
            (#{contact._CID}, #{info._SID}, #{info.id}, #{info.name})
    </insert>

    <update id="updateContact">
        update contact, contact_info set contact.remark=#{contact.remark}, contact_info.name=#{info.name}
        where contact._CID=#{contact._CID} and contact_info._CID=#{contact._CID} and contact_info._SID=#{info._SID}
    </update>

    <update id="updateContactStatus" parameterType="Contact">
        update contact set total=#{total}, unread=#{unread}, pinned=#{pinned}, lastMsgTime=#{lastMsgTime}
        where _CID=#{_CID}
    </update>
</mapper>