<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xyz.hyffer.onemessage_server.storage.mapper.MessageMapper">
    <select id="getMessages" resultType="Message">
        <bind name="table" value="'message_' + _CID"/>
        select * from ${table} where _MID >= #{first_MID} and #{last_MID} >= _MID
    </select>

    <update id="createUserTable">
        <bind name="table" value="'message_' + _CID"/>
        create table ${table} (
            _MID int  unsigned auto_increment primary key,
            time      timestamp not null,
            direction enum('In', 'Out') not null
        );
    </update>

    <update id="createGroupTable">
        <bind name="table" value="'message_' + _CID"/>
        create table ${table} (
            _MID int unsigned auto_increment primary key,
            time timestamp not null,
            direction enum('In', 'Out') not null,
            type enum('Normal', 'Anonymous') not null,
            senderId bigint unsigned not null,
            senderName nvarchar(30) not null
        );
    </update>

    <insert id="addMessageRecord"
            useGeneratedKeys="true" keyProperty="message._MID">
        <bind name="table" value="'message_' + _CID"/>
        insert into ${table}
        (time, direction
        <if test="message.type != null">
            , type, senderId, senderName
        </if>
        ) value
        (#{message.time}, #{message.direction}
        <if test="message.type != null">
            , #{message.type}, #{message.senderId}, #{message.senderName}
        </if>
        )
    </insert>
</mapper>