<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xyz.hyffer.onemessage_server.storage.mapper.SourceMapper">
    <select id="getSources" resultType="Source">
        select * from source order by _SID
    </select>

    <insert id="addSource" parameterType="Source"
            useGeneratedKeys="true" keyProperty="_SID">
        insert into source (name) value (#{name})
    </insert>
</mapper>